force-app/main/default/flows/Edit_Patient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Edit Patient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Patient</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <status>Active</status>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient_Record</targetReference>
        </connector>
    </start>
    <recordLookups>
        <name>Get_Patient_Record</name>
        <label>Get Patient Record</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <connector>
            <targetReference>Edit_Patient_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDateOfBirth</assignToReference>
            <field>PersonBirthdate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmail</assignToReference>
            <field>PersonEmail</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Edit_Patient_Screen</name>
        <label>Edit Patient</label>
        <locationX>176</locationX>
        <locationY>200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Patient_Record</targetReference>
        </connector>
        <fields>
            <name>Edit_Section</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FirstName</name>
                    <fieldType>InputField</fieldType>
                    <fieldText>First Name</fieldText>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varFirstName</elementReference>
                    </defaultValue>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>LastName</name>
                    <fieldType>InputField</fieldType>
                    <fieldText>Last Name</fieldText>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varLastName</elementReference>
                    </defaultValue>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DateOfBirth</name>
                    <fieldType>InputField</fieldType>
                    <fieldText>Date of Birth</fieldText>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>varDateOfBirth</elementReference>
                    </defaultValue>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
            </fields>
            <fields>
                <name>Edit_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone</name>
                    <fieldType>InputField</fieldType>
                    <fieldText>Phone</fieldText>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varPhone</elementReference>
                    </defaultValue>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <fieldType>InputField</fieldType>
                    <fieldText>Email</fieldText>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varEmail</elementReference>
                    </defaultValue>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
            </fields>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>464</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b&gt;Patient updated successfully!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Name: {!FirstName} {!LastName}&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>400</locationX>
        <locationY>332</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>&lt;p&gt;&lt;b&gt;Error updating patient:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <recordUpdates>
        <name>Update_Patient_Record</name>
        <label>Update Patient Record</label>
        <locationX>176</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>DateOfBirth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDateOfBirth</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
